<div class="pos container">
  <h2 class="my-4">Componente Point of Sell - POS</h2>
  <form (ngSubmit)="addPedido(pedidoForm)" #pedidoForm="ngForm" class="form-group">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre:</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="newPedido.name" name="name" required minlength="5"
        #name="ngModel" [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched), 'is-valid': name.valid}">

      @if(name.invalid  && (name.dirty || name.touched)){
        @if(name.getError('required')) {
          <div class="text-danger">El nombre es obligatorio.</div>
        } @else if(name.getError('minlength')){
          <div class="text-danger">Debe contener como mínimo 5 caracteres.</div>
        }
      }
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Pedido:</label>
      <input type="text" id="description" class="form-control" [(ngModel)]="newPedido.description" name="description"
        required minlength="5" #description="ngModel" [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched), 'is-valid': description.valid}">

        @if(description.invalid  && (description.dirty || description.touched)){
          @if(description.getError('required')) {
            <div class="text-danger">La descripción es obligatoria.</div>
          } @else if(description.getError('minlength')){
            <div class="text-danger">Debe contener como mínimo 5 caracteres.</div>
          }
        }
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="pedidoForm.invalid">Ordenar</button>
  </form>
</div>